{
  "extends": ["next", "prettier", "next/core-web-vitals"],
  "rules": {
    "prettier/prettier": "warn",
    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "plugins": ["prettier"]
}
